/* This CSS document contains styling for the footer */
footer {
  position: fixed;
  /* left: 1%; */
  bottom: 0;
  height: 70px;
  display: flex;
  justify-content: space-between;
  width: 98%;
  border-top: 0.5px solid #C7B198;
  background: white;
  margin-top: 20px;
}

.footer-links {
  display: flex;
  align-items: center;
  height: 100%;
  /* margin-left: 10px; */
  /* padding-right: 4%; */

}

.footer-link {
  color: #225165;
  font-size: 30px;
  padding: 0px 7px;
  height: 100%;
}

.footer-link:hover {
  color: #C7B198;
}

.footer-tagline {
  color: #225165;
  /* padding-right: 4%; */
}