/* This CSS document contains styling for the nav */
nav {
  width: 100vw;
  height: 10%;
  display: flex;
  justify-content: flex-end;
  background-color: rgba(255, 255, 255, 0.2);
  border-bottom: 0.5px solid #C7B198;
  
}

.navbar-links {
  height: 100%;
  display: flex;
  align-items: center;
}

.navbar-link {
  padding: 5px 20px;
  color: #225165;
  text-decoration: none;
}

nav a:hover {
  color: #C7B198;
}