/* CSS to style the footer */

footer {
  position: fixed; 
  left: 0%;
  bottom: 0;
  height: 70px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  border-top: 0.5px solid #C7B198;
  background: white;
}

.footer-links {
  display: flex;
  align-items: center;
  height: 100%;
  margin-left: 10px;
  padding-right: 4%;

}

.footer-link {
  color: #225165;
  font-size: 30px;
  padding: 0px 7px;
  height: 100%;
}

.footer-link:hover {
  color: #C7B198;
}

.footer-tagline {
  color: #225165;
  /* padding-right: 2%; */
  margin-right: 30px;
} 