@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700&display=swap');
@import "./footer.css";
@import "./navbar.css";
@import "./herotext.css";

body {
  margin: 0px;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("../photos/Draken-snow-homepage.JPG"); 
  background-size: cover;
  background-position: top;
  font-family: 'Lato', sans-serif;
  height: 100vh;
}



